body{
    font-family:Verdana;
}
.slogan{

  text-align: center;
  font-family:Arial Black;
  color: rgb(7, 13, 51);
}
.footerIzquierdo{
  text-align: left;
}
.footerDerecho{
  text-align: right;;
}
footer{
  border-top: 20px rgb(164, 164, 164);
  background: #f1f1f1;
  padding: 30px;
}
.portada{
  text-align: center;
  width: 100%;
  height: auto;
}
.titulo{
  color: rgb(68, 68, 69);
}
.todo{
  display: inline-block;
  box-shadow: 2px 2px 4px #999;
  margin-bottom: 3%;
  text-align: center;
}
@media (min-width: 1000px) {
  .todo{
    width: 40%;
  }
}
.derecho{
  width: 90%;
  display: inline-block;
}
.tamaño{
  width: 100%;
  text-align: center;
}
.veinticinco{
  display: inline-block;
  width: 50%;
}
.primero{
  font-weight: bold;
  font-style: oblique;
}
.segundo{
  color: rgb(119,119,121);
  text-align: justify;
}
.center{
  text-align: center;
}
